h1
	|Add Schedule
ng-form.col-xs-12.col-sm-12.col-md-6.col-lg-6(name="scheduleForm",ng-controller="addScheduleController")
	div.row
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="firstname")|First Name
			input.form-control(type="text",id="firstname",name="firstname",ng-model="schedule.firstname",required)
	
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="lastname")|Last Name
			input.form-control(type="text",id="lastname",name="lastname",ng-model="schedule.lastname",required)
	
	div.row
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="datefrom")|From Date
			p.input-group
				input.form-control(type='text', id="datefrom",name="datefrom",uib-datepicker-popup='{{format}}', ng-model='schedule.datefrom', is-open='popup1.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
				span.input-group-btn
					button.btn.btn-default(type='button', ng-click='open1()')
						i.glyphicon.glyphicon-calendar

		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="dateto")| To Date
			p.input-group
				input.form-control(type='text', id="dateto",name="dateto",uib-datepicker-popup='{{format}}', ng-model='schedule.dateto', is-open='popup2.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
				span.input-group-btn
					button.btn.btn-default(type='button', ng-click='open2()')
						i.glyphicon.glyphicon-calendar
	div.row
		div.form-group
			label(for="interviewCandidate").col-xs-12.col-sm-6.col-md-6.col-lg-3|Interview Candidate
				input.form-control.radio-inline(type="radio",id="interviewCandidate",name="visitorType",ng-model="schedule.visitorType",value="interview candidate")
			label(for="client").col-xs-12.col-sm-6.col-md-6.col-lg-3| Client
				input.form-control.radio-inline(type="radio",id="client",name="visitorType",ng-model="schedule.visitorType",value="client")
			label(for="vendor").col-xs-12.col-sm-6.col-md-6.col-lg-3| Vendor
				input.form-control.radio-inline(type="radio",id="vendor",name="visitorType",ng-model="schedule.visitorType",value="vendor")
			label(for="general").col-xs-12.col-sm-6.col-md-6.col-lg-3| General
				input.form-control.radio-inline(type="radio",id="general",name="visitorType",ng-model="schedule.visitorType",value="general")
	div.row
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="time")| Time
			input.form-control(type="text",id="time",name="time",ng-model="schedule.time",required)
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="duration")| Duration
			input.form-control(type="text",id="duration",name="duration",ng-model="schedule.duration",required)

	div.row
		div.form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
			label(for="employeeId")| Employee Id
			input.form-control(type="text",id="employeeId",name="employeeId",ng-model="schedule.employeeId",required)
		div.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6
			label(for="purpose")|Purpose
			input.form-control(type="text",id="purpose",name="purpose",ng-model="schedule.purpose")

	div.row
		div.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6
			label(for="specialRequirements")|Special Requirements
			input.form-control(type="text",id="specialRequirements",name="specialRequirements",ng-model="schedule.specialRequirements")

		div.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6
			label(for="specialComments")|Special Comments
			input.form-control(type="text",id="specialComments",name="specialComments",ng-model="schedule.specialComments")

	div.row.pull-right
		button.btn.btn-primary(ng-click="addSchedule()")| Submit
		button.btn(ng-click="clearSchedule()")| Clear