div.container
	h1| Login Using Google+
	ng-form.form-horizontal(name="loginForm",ng-controller="loginController")
		div.form-group
			label.control-label(for="username")| Username
			input.form-control(type="text",id="username",name="username",placeholder="username",ng-model="user.username",required)
		div.form-group
			label.control-label(for="password")| Password
			input.form-control(type="password",id="password",name="password",placeholder="password",ng-model="user.password",required)
		button(ng-click="logIn()")| Log in 