div.panel.panel-default
	div.panel-body
		div.row
			p
				div.col-xs-12.col-sm-12.col-md-6.col-lg-6
					h4
						span.glyphicon.glyphicon-user
						span(style="padding:10px")
							|{{schedule.firstname}} {{schedule.lastname }}
		div.row
			div.col-xs-12.col-sm-12.col-md-3.col-lg-3
				label
					strong| From
				span.textReadOnly| {{schedule.datefrom | date:'dd/MM/yyyy'}}
			div.col-xs-12.col-sm-12.col-md-3.col-lg-3
				label
					strong| To
				span.textReadOnly| {{schedule.dateto | date:'dd/MM/yyyy'}}
		div.row				
			div.col-xs-12.col-sm-12.col-md-3.col-lg-3
				label
					span.glyphicon.glyphicon-time
					span(style="padding:4x")
						span.textReadOnly| {{schedule.time}}
			div.col-xs-12.col-sm-12.col-md-3.col-lg-3
				label
					strong| Duration
				span.textReadOnly| {{schedule.duration}} hour/s
		div.row
			div.col-xs-12.col-sm-12.col-md-6.col-lg-6
				label
					strong| Purpose
				span.textReadOnly| {{schedule.purpose}}
		div.row
			div.col-xs-12.col-sm-12.col-md-6.col-lg-6
				label
					strong| Special Requirements
				span.textReadOnly| {{schedule.specialRequirements}}
		div.row
			div.col-xs-12.col-sm-12.col-md-6.col-lg-6
				label
					strong| Special Comments
				span.textReadOnly| {{schedule.specialComments}}								