doctype html
html
  head
    title= title
    link(rel='stylesheet', href='static/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript",src="static/jquery/dist/jquery.js")
    script(type="text/javascript",src="static/angular/angular.js")
    script(type="text/javascript",src="static/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript",src="javascripts/app.js")
    script(type="text/javascript",src="javascripts/controller.js")
    script(type="text/javascript",src="static/bootstrap/dist/js/bootstrap.js")    	
