doctype html
html
  head
    title= title
    link(rel='stylesheet', href='static/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript",src="static/jquery/dist/jquery.js")
    script(type="text/javascript",src="static/angular/angular.js")
    script(type="text/javascript",src="static/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript",src="static/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")
    script(type="text/javascript",src="https://cdn.jsdelivr.net/lodash/2.1.0/lodash.compat.min.js")
    script(type="text/javascript",src="static/restangular/dist/restangular.js")
    script(type="text/javascript",src="static/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript",src="javascripts/app.js")
    script(type="text/javascript",src="javascripts/controller.js")